<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head.ejs') %>
    <body>
        <%- include('./partial/nav.ejs') %>
        <div class="blog content">
            <h2>All Blogs</h2>
        </div>

        <div class="not found content">
            <h2>Oops! page not found</h2>
        </div>
        <%- include('./partial/footer.ejs') %>



    
    </body>
</html>
