<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head.ejs') %>
    <body>
        <%- include('./partial/nav.ejs') %>
       

        <div class="blog content">
            <h2>All Blogs</h2>
        </div>

        <div class="about content">
            <h2>About Us</h2>
            <p>
                This site is created to help with information on issues around
                news blogging.<br> It is conceived as a website that should go
		<br> along way in putting out
                genuine information about every news posted on the blog.<br> 
                we are committed to giving you the latest news as it is 
		happening.<br>
                This we think we enable us earned your trust and become the 
		number one<br>
                go to news outlet in the whole of Africa.<br>
                Let's enjoy the atmosphere.
            </p>

        </div>
        <%- include('./partial/footer.ejs') %>

    
    </body>
</html>
