<!DOCTYPE html>
<html lang="en">
    <%- include('./partial/head.ejs') %>
    <body>
        <%- include('./partial/nav.ejs') %>
       

        <div class="blog content">
            <h2>All Blogs</h2>
        </div>

        <div class="about content">
            <h2>About Us</h2>
            <p>
                Abdulah Ogundare is a tech enthusiast whose interest spans across Devops and backend development.<br> 
                He exhibits a huge amount of intellectual strength and he is well focused.<br>
                He has been instrumental to the development of this website and the project as a whole.<br>
                He worked on the project in collaboration with other team members in the design of the UX/UI<br> 
                and the entire backend integration and development.<br>
            </p>
            <p>
                Akeem Akinyoola is a critical-thinker with a burning passion for building things. His analytical thinking skill endears him to his teammates.<br> 
                He has made an invaluable contribution to the workability of this website and its development. <br>
                As part of his commitment to excellence, he was actively involved in the design and implementation of the backend integration of the current project to its frontend.<br> 
                His interest in software development and wonderful team spirit keep the team going through to the actualization of this project. <br>
                DIABAKATE IKARY RYANN is a tech enthusiast whose interest spans across backend and Mobile app development primarily using flutter.<br>
                He exhibits a huge amount of intellectual strength and he is well focused. He has been instrumental to the development of this website and the project as a whole.<br> 
                He worked on the project in collaboration with other team members in the design of the frontend dashboard and the entire backend integration and development.


            </p>

        </div>
        <%- include('./partial/footer.ejs') %>

    
    </body>
</html>
